.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  background: #fff;
  margin-bottom: 20px;
  align-items: center;
  :global {
    .ant-menu-overflow {
      padding: 0 0 0 0;
      background: rgba(15, 16, 28, 0) !important;
    }
    .ant-menu-horizontal {
      border-bottom: 0;
      flex: 1;
    }
    .ant-menu-overflow-item {
      color: rgb(34, 34, 38);
    }
  }
}

.headerIcon {
  cursor: pointer;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  text-align: center;
  background: #fff;
  color: #1890ff;
  font-size: 18px;
}
